button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--green-600);
	border: none;
	font-size: 1.125rem;
	font-weight: 600;
	width: 100%;
	padding: 1rem 2.5rem;
}

button:hover {
	cursor: pointer;
	background-color: var(--grey-900);
}

button:focus {
	outline-offset: 2px;
}
