button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 136px;
	height: 40px;
	gap: var(--spacing-150);
	border: none;
	font: var(--Text-Present-4-Light);
	color: var(--Black);
	border-radius: 2px;
	background: var(--White);
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.10);
	margin-bottom: var(--spacing-200);
}

button:hover {
	cursor: pointer;
	border: solid var(--Grey-250);
}

button:focus {
	outline-offset: 2px;
}
