.pill-container{
      display: flex;
      width: clamp(85px, 96px, 105px);
      height: 28px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      color: var(--Grey-950);
      background: var(--colors-white, #FFF);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.10);
      font: var(--Text-Present-6-Light);
      margin: var(--spacing-100) var(--spacing-200) var(--spacing-100) 0 
      
}