#root {
  max-width: 1440px;
  margin: 0 auto;
}

h1{
  color: var(--colors-grey-950, #111517);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Text Preset 2 - Nunito Sans ExtaBold - 24px - 137.5% Line Height - 0px Line Spacing */
  font-family: "Nunito Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.5%; /* 33px */
}

.filters-container{
  display: flex;
  justify-content: space-between;
}