#root {
  max-width: 1440px;
  margin: 0 auto;
}

h1{
  color: var(--colors-grey-950, #111517);
  font: var(--Text-Present-2)
}

.filters-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-1100) var(--spacing-1000);
}

.country-card-container{
  margin-left: var(--spacing-1100);
  margin-top: var(--spacing-600);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-900);
}

p {
  color: var(--Grey-950);
  width: 100%;
  display: flex;
  justify-content: center;
}