#root {
  max-width: 1440px;
  margin: 0 auto;
}

h1{
  color: var(--colors-grey-950, #111517);
  font: var(--Text-Present-2)
}

.filters-container{
  display: flex;
  justify-content: space-between;
}

.country-card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  /* display: flex;
width: 1272px;
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-900, 72px); */
}